<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}SPSE{% endblock %}</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/styles/main.css">
	{% block head %}{% endblock %}
	<!-- Add script tags for Global site tag (gtag.js) - Google Analytics -->
</head>
<body>
<div id="stuffAboveFooter">
	<header>
		<h1><a href="/" class="exception">SPSE</a></h1>
		<a href="/project" id="profile" class="exception">
			{% if id == -1 %}
			<i class="material-icons">account_circle</i>
			{% else %}
			<img src="{{ profile_pic | safe }}" alt="profile pic">
			{% endif %}
		</a>
	</header>
	<main>
		{% block body %}
		{% endblock %}
	</main>
</div>
<div id="toast"></div>
<footer>
	<div>
		© 12019 <a href="https://en.wikipedia.org/wiki/Holocene_calendar">HE</a> | Website designed and coded by <a href="https://github.com/cubetastic33">cubetastic</a>
	</div>
	<iframe src="https://ghbtns.com/github-btn.html?user=cubetastic33&repo=spse&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
    function showToast(message, duration = 2000) {
        $('#toast').text(message);
        $('#toast').slideDown(200, () => {
            setTimeout(() => {
                $('#toast').slideUp(200);
            }, duration);
        });
    }
</script>
{% block javascript %}
{% endblock %}
</html>
