/*
	Variables
*/

$primary: #ffc107;
$primary-dark: #c79100;
$primary-fg: #000000;
$secondary: #280680;
$secondary-dark: #180470;
$secondary-fg: #ffffff;
$error: #ef5350;
$warning: #fff59d;

/*
	Media Queries
*/

@media only screen and (max-width: 820px) {
	.register, .joinATeam, .signIn {
		margin: 0 10% !important;
	}
}

@media only screen and (max-width: 720px) {
	.register, .joinATeam, .signIn {
		margin: 0 !important;
	}
}

/*
	Other Stuff
*/

main {
	padding: 0 0 1.5rem 0!important;
}

.register, .joinATeam, .signIn {
	background-color: $primary;
	background-image: url(/images/textures/fabric-of-squares.png);
	border-radius: 4px;
	color: $primary-fg;
	margin: 0 25%;

	h1 {
		background-color: #252525;
		color: #ffffff;
		background-image: url(/images/textures/black-twill.png);
		border-radius: 4px 4px 0 0;
		font-family: 'Dosis';
		text-align: center;
		padding: 0.75rem 1rem;
	}

	> div {
		padding: 0.5rem 1rem 1rem 1rem;
	}

	> form {
		padding: 1rem;
	}
}

.joinATeam {
	p {
		padding: 0 3rem;
		text-align: justify;

		a {
			color: #3366aa !important;
			text-decoration: none;
		}
	}

	.buttons {
		margin-bottom: 0.5rem;
	}
}

#stepTwo, #stepThree {
	display: none;
}

#stepThree p:nth-child(2) button {
	padding: 0.3rem 0.5rem;
	text-transform: none;
}

#stepThree:not(.science) .scienceField, #stepThree:not(.socialstudies) .socialstudiesField, #stepThree:not(.languages) .languagesField {
	display: none;
}

form {
	.formInput {
		position: relative;
		font-family: Roboto;

		i {
			position: absolute;
			top: 0.8rem;
		}

		.error-icon, .helper-text {
			display: none;
		}

		.helper-text {
			font-size: 0.75rem;
			position: absolute;
			top: 3.6rem;
			left: 2rem;
		}

		input[type=checkbox] {
			position: absolute;
			left: 2rem;

			+ label {
				color: #000000;
				top: 0.2rem;
				left: 4rem;
			}
		}

		label {
			background-color: $primary;
			background-image: url(/images/textures/fabric-of-squares.png);
			color: #555555;
			cursor: text;
			position: absolute;
			top: 1rem;
			left: 3rem;
		}

		input:not([type=checkbox]), select, textarea {
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			background: transparent;
			border: 1pt solid #555555;
			border-radius: 4px;
			color: #555555;
			margin-left: 2rem;
			padding: 1rem;
			width: calc(100% - 6rem);
		}

		select {
			width: calc(100% - 4rem);
		}

		textarea {
			font-family: 'Source Sans Pro';
			resize: none;
		}

		input[type="number"] {
			-moz-appearance: textfield;
		}

		input[type="number"]:hover {
			-moz-appearance: number-input;
		}

		input:not([type="checkbox"]):hover, select:hover, textarea:hover {
			border-color: #000000;
		}

		input:not([type="checkbox"]):focus, select:focus, textarea:focus {
			border: 2px solid #388e3c;
			caret-color: #388e3c;
			color: #000000;
			outline: none;
			outline-offset: 0;
			padding: calc(1rem - 1px);

		}

		input:not([type="checkbox"]):focus + label, select:focus + label, textarea:focus + label {
			color: #388e3c;
		}
	}

	.formInput textarea ~ .helper-text {
		position: initial;
		margin-left: 2rem;
	}

	.formInput.error input:not([type="checkbox"]), .formInput input:invalid, .formInput.error textarea {
		border-color: $error;
		-webkit-box-shadow: none;
		box-shadow: none;

		+ label {
			color: $error;
		}

		~ .error-icon {
			display: initial;
			color: $error;
			position: absolute;
			top: 1rem;
			right: 3rem;
		}

		~ .helper-text {
			display: initial;
			color: $error;
		}
	}

	.formInput.error input:not([type="checkbox"]):focus, .formInput input:invalid:focus, .formInput.error textarea:focus {
		border-color: $error;
		caret-color: $error;

		+ label {
			color: $error;
		}
	}

	.formInput.warning input:not([type="checkbox"]), .formInput.warning textarea {
                border-color: $warning;
                -webkit-box-shadow: none;
                box-shadow: none;

                + label {
                        color: $warning;
                }

                ~ .warning-icon {
                        display: initial;
                        color: $warning;
                        position: absolute;
                        top: 1rem;
                        right: 3rem;
                }

                ~ .helper-text {
                        display: initial;
                        color: $warning;
                }
        }

        .formInput.warning input:not([type="checkbox"]):focus, .formInput.warning textarea:focus {
                border-color: $warning;
                caret-color: $warning;

                + label {
                        color: $warning;
                }
        }

	.buttons {
		display: flex;
		justify-content: flex-end;
		padding-right: 2rem;

		button:first-child {
			margin-right: 5px;
		}
	}

	button:not(.textButton) {
		background-color: #252525;
		color: #ffffff;
	}

	p {
		margin: 0 2rem;
		text-align: justify;
	}

	a {
		color: #3366aa !important;
		text-decoration: none;
	}
}
